html,
body {
    height: 100%;
    font-family: "Open Sans";
    font-size: 12px;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
    background: #ccc;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ccc, #ccc);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ccc, #ccc); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

.btn{
    height: 60px;
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 1rem;
    padding: 20px 27px;
    border-radius: 8px;
    border: none;
    min-width: 150px;
    margin-left: 10px;
}
.btn .fas{
    padding-right: 10px;
    padding-left: 5px;
}
.btn-primary{
    background: #0499FE;
}
.btn-default{
    color: #0f0f0f;
}
.btn-action{
    margin-right: 10px;
}
.btn-plus{
    display:block;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    text-align: center;
    background: #A294DA;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #A294DA, #7c1dce);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #A294DA, #7c1dce); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: white;
    font-size: 3rem;
    line-height: 3.6rem;
    margin-right: 17px;
    margin-top: 5px;
}

.gavatar img{
    display:block;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.btn-plus:hover, .btn-plus:active, .btn-plus:checked{
    text-underline: none;
    color: white;
    text-decoration: none;
}


a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}
.header{
    background: white;
    margin-left: 242px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}
.header .search-box i{
    color: #8A979B;
    font-size: 2rem;
    cursor: pointer;
}
.header .user-menu{
    display: flex;
}
.sidebar{
    background: #ffffff;
    position: fixed;
    width: 240px;
    top: 0;
    bottom: 0;
    overflow: hidden;
    z-index: 1000;
    padding: 0px 6px;
}
.sidebar-brand{
    height: 138px;
    padding: 31px;
}
.sidebar-brand i{
    color: #8A979B;
    font-size: 1.5rem;
    cursor: pointer;
}
.sidebar-nav li {
    font-size: 1.4rem;
}
.sidebar-nav li a i {
    color: #8A979B;
    padding: 8px;
    font-size: 2rem;
    width: 45px;
}
.sidebar-nav li a span {
    color: #000000;
    font-weight: 600;
    line-height: 1rem;
}
.sidebar-nav li.active a{
    background: #DDF0FB;
    border-radius: 6px;
}

.sidebar-nav li.active i{
    color: #0499FE;
}

.sidebar-nav li.active span{
    color: #0499FE;
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

.main-container {
    background: white;
    margin-left: 242px;
    margin-top: 2px;
}

.header-list{
    background: rgb(226, 241, 247);
    padding-top: 40px;
    padding-bottom: 40px;
}

.header-list h2{
    padding-left: 30px;
}
.table-bordered{
    border: none;
}
.grid-view .table-bordered thead{
    background: #EFF5F7;
    border: none;
}

.grid-view .table-bordered thead tr th, .grid-view .table-bordered tbody tr td{
    font-size: 1.4rem;
    padding-left: 31px;
}
.grid-view .table-bordered thead tr{
    border-bottom: 1px #ccc;
}
.grid-view .table-bordered thead tr th{
    border: 0px;
    height: 80px;
    vertical-align: middle;
}
.grid-view .table-bordered thead tr th a{
    color: #8A979B;
}
.grid-view .table-bordered tbody tr td{
    border: 0px;
    /*height: 80px;*/
    padding-top: 20px;
}

.grid-view .table-bordered tbody tr{
    cursor: pointer;
}

.grid-view .table-bordered tbody tr.odd{
    background: #EBF7FF;
}

.grid-view .table-bordered tbody tr:hover{
    background: #DDF0FB;
    color: #0f0f0f;
}

/*
 Style form
 **/
 .form-create{
    padding: 20px;
    background: #ccc;
 }
.btn-save
 {
     text-align: right;
 }


@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}


